{% extends 'base.html' %}
{% load static %}

{% block extend_header %}
<script src="{% static 'shop/main.js' %}" defer></script>
<script src="{% static 'main/main.js' %}" defer></script>
{% endblock extend_header %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<!-- Main Page Start -->
<section class="container main__container">
   <div class="row banner__wrapper">
      <div class="col-lg-12">
         <div class="banner__carousel">
            <div class="image-container" id="imgs">
               <img
                  src="https://images.unsplash.com/photo-1599394022918-6c2776530abb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1458&q=80"
                  alt="first-image" />
               <img
                  src="https://images.unsplash.com/photo-1593642632559-0c6d3fc62b89?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"
                  alt="second-image" />
               <img
                  src="https://images.unsplash.com/photo-1599423300746-b62533397364?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"
                  alt="third-image" />
               <img
                  src="https://images.unsplash.com/photo-1599561046251-bfb9465b4c44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1492&q=80"
                  alt="fourth-image" />
            </div>
         </div>
      </div>
   </div>
   <div class="row justify-content-center pub__wrapper">
      {% for smallpub in smallpubs %}
         <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card pub__card">
               <img
                  src="{{ smallpub.image.url }}"
                  alt="fourth-image" />
               <p>{{ smallpub.text }}</p>
               <a href="{% url 'shop:home-screen' %}"><b>Shop Now <i class="fas fa-arrow-circle-right fa-sm"></i></b></a>
            </div>
         </div>
      {% empty %}
         <p class="text-center">Small Pubs Section</p>
      {% endfor %}
   </div>
   <div class="container featured__wrapper">
      <div class="row">
         <div class="col-lg-12">
            <div class="section-title featured__title">
               <h2>Featured Products</h2>
            </div>
         </div>
         <div class="d-flex justify-content-center">
            <div class="spinner-border text-danger" role="status" id="main-spinner-box">
            </div>
         </div>
         <div class="slider mb-5">
            <div class="row slide product_cards"></div>
            <button class="ctrl-btn pro-prev" id="prev-feat-btn"><i class="fas fa-arrow-left fa-lg"></i></button>
            <button class="ctrl-btn pro-next" id="next-feat-btn"><i class="fas fa-arrow-right fa-lg"></i></button>
         </div>
         <div class="d-flex justify-content-center">
            <a href="{% url 'shop:home-screen' %}" class="site-btn">All Products</a>
         </div>
      </div>
   </div>
</section>

<!-- service_area_start  -->
<div class="service_area">
   <div class="container">
      <div class="row justify-content-center ">
         <div class="col-lg-12">
            <div class="section-title featured__title">
               <h2>Why Choose Us</h2>
            </div>
         </div>
      </div>
      
         <div class="row justify-content-center">
            {% for service in services %}
               <div class="col-lg-4 col-md-6">
                  <div class="single_service">
                     <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
                        <div class="service_icon">
                           <img src="{{ service.image.url }}" alt="">
                        </div>
                     </div>
                     <div class="service_content text-center">
                        <h3>{{ service.title }}</h3>
                        <p>{{ service.description }}</p>
                     </div>
                  </div>
               </div>
            {% empty %}
               <p class="text-center">Services section</p>
            {% endfor %}
         </div>
      
         
   </div>
</div>
<!-- service_area_end -->

<!--? Marks Start -->
<section id="clients">
   <div class="container brands__container">
         <div class="section-title">
            <h2>Brands</h2>
         </div>
         <div class="slider">
            <div class="row slide brand__wrapper">
                  <div class="brand__img col-lg-3 col-md-3 col-md-3 col-6"> <img src="{% static 'assets/img/clients/client-1.png' %}" alt=""></div>
                  <div class="brand__img col-lg-3 col-md-3 col-md-3 col-6"> <img src="{% static 'assets/img/clients/client-2.png' %}" alt=""></div>
                  <div class="brand__img col-lg-3 col-md-3 col-md-3 col-6"> <img src="{% static 'assets/img/clients/client-3.png' %}" alt=""></div>
                  <div class="brand__img col-lg-3 col-md-3 col-md-3 col-6"> <img src="{% static 'assets/img/clients/client-4.png' %}" alt=""></div>
                  <div class="brand__img col-lg-3 col-md-3 col-md-3 col-6"> <img src="{% static 'assets/img/clients/client-5.png' %}" alt=""></div>
                  <div class="brand__img col-lg-3 col-md-3 col-md-3 col-6"> <img src="{% static 'assets/img/clients/client-6.png' %}" alt=""></div>
                  <div class="brand__img col-lg-3 col-md-3 col-md-3 col-6"> <img src="{% static 'assets/img/clients/client-7.png' %}" alt=""></div>
                  <div class="brand__img col-lg-3 col-md-3 col-md-3 col-6"> <img src="{% static 'assets/img/clients/client-8.png' %}" alt=""></div>
            </div> 
            <button class="ctrl-btn brand-prev" id="prev-brand-btn"> <i class="fas fa-arrow-left fa-lg"></i> </button>
            <button class="ctrl-btn brand-next" id="next-brand-btn"><i class="fas fa-arrow-right fa-lg"></i> </button>
         </div>  
   </div>
</section>
<!-- Marks End -->

<!-- Main Page End -->
{% endblock content %}

{% block extend_footer %}

{% endblock extend_footer %}

