{% extends 'base.html' %}
{% load static %}

{% block extend_header %}
<script src="{% static 'shop/main.js' %}" defer></script>
<script src="{% static 'main/main.js' %}" defer></script>
{% endblock extend_header %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<!-- Main Page Start -->
<section class="container main__container">
   <div class="row banner__wrapper">
      <div class="col-lg-12">
         <div class="banner__carousel">
            <div class="image-container" id="imgs">
               <img
                  src="https://images.unsplash.com/photo-1599394022918-6c2776530abb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1458&q=80"
                  alt="first-image" />
               <img
                  src="https://images.unsplash.com/photo-1593642632559-0c6d3fc62b89?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"
                  alt="second-image" />
               <img
                  src="https://images.unsplash.com/photo-1599423300746-b62533397364?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"
                  alt="third-image" />
               <img
                  src="https://images.unsplash.com/photo-1599561046251-bfb9465b4c44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1492&q=80"
                  alt="fourth-image" />
            </div>
         </div>
      </div>
   </div>
   <div class="row justify-content-center pub__wrapper">
      {% for data in qs %}
         <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card pub__card">
               <img
                  src="{{ data.image.url }}"
                  alt="fourth-image" />
               <p>{{ data.text }}</p>
               <a href="{% url 'shop:home-screen' %}"><b>Shop Now <i class="fas fa-arrow-circle-right fa-sm"></i></b></a>
            </div>
         </div>
      {% empty %}
         <p class="text-center">Small Pubs Section</p>
      {% endfor %}
   </div>
   <div class="container featured__wrapper">
      <div class="row">
         <div class="col-lg-12">
            <div class="section-title featured__title">
               <h2>Featured Products</h2>
            </div>
         </div>
         <div class="d-flex justify-content-center">
            <div class="spinner-border text-danger" role="status" id="main-spinner-box">
            </div>
         </div>
         <div class="slider" id="slider">
            <div class="row slide product_cards" id="slide"></div>
            <button class="ctrl-btn pro-prev" id="prev-feat-btn">Prev</button>
            <button class="ctrl-btn pro-next" id="next-feat-btn">Next</button>
         </div>
      </div>
   </div>
   <div class="row home__products">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
         <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
               role="tab" aria-controls="home" aria-selected="true">New Arrivals</button>
         </li>
         <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
               role="tab" aria-controls="profile" aria-selected="false">Best Sellers</button>
         </li>
      </ul>
      <div class="tab-content" id="myTabContent">
         <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Lorem ipsum, dolor
            sit amet consectetur adipisicing elit. Corrupti cumque dolorem obcaecati, exercitationem ipsum quos aperiam
            totam quae debitis maxime!
         </div>
         <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Lorem ipsum dolor sit,
            amet consectetur adipisicing elit. Molestiae beatae numquam sapiente in repellendus iusto voluptatibus
            assumenda. Saepe, nulla earum.</div>
      </div>
   </div>


</section>


<!-- Main Page End -->
{% endblock content %}

{% block extend_footer %}

{% endblock extend_footer %}