{% load static %}

<!-- Navbar Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <!-- <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Browse Categories</span>
                    </div>
                    <ul>
                        {% for category in categories %}
                        <li><a href="{% url 'shop:home-screen'%}">{{ category.title }}</a></li>
                        {% empty %}
                        <p>No Category Found</p>
                        {% endfor %}
                    </ul>
                </div> -->
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                <select class="custom-select" id="inputGroupSelect01">
                                    <option selected>All Categories</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <input type="text" placeholder="Search for a product ?">
                            <button type="submit" id="search-btn" data-bs-toggle="tooltip" title="Search">Search</button> 
                            <!-- add (data-bs-toggle="tooltip) to button for tooltip" -->
                        </form>
                    </div>
            
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Navbar End -->