{% load static %}

<!-- Navbar Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <!-- <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Browse Categories</span>
                    </div>
                    <ul>
                        {% for category in categories %}
                        <li><a href="{% url 'shop:home-screen'%}">{{ category.title }}</a></li>
                        {% empty %}
                        <p>No Category Found</p>
                        {% endfor %}
                    </ul>
                </div> -->
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form id="search-form" autocomplete="off">
                            {% csrf_token %}
                            <div class="hero__search__categories">
                                <select class="custom-select" id="inputGroupSelect01">
                                    <option selected>All Categories</option>
                                    {% for category in categories %}
                                        <option value="{{ forloop.counter }}">{{ category.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <input class="search__input" type="text" id="search-input" placeholder="Search for a product">
                            <button type="submit" id="search-btn" data-bs-toggle="tooltip" title="Search">Search</button> 
                            <!-- add (data-bs-toggle="tooltip) to button for tooltip" -->
                        </form>
                    </div>
                    <div id="results-box" class="results__card not-visible"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Navbar End -->