{% extends 'base.html' %}
{% load static %}

{% block extend_header %}

{% endblock extend_header %}

{% block title %}
Payment Success
{% endblock title %}

{% block content %}
<main class="container my-4">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading mb-2">Success !</h4>
        <p>Your Payment Was Successful !</p>
        <a href="{% url 'shop:home-screen' %}">Back To Shop</a>
    </div>
</main>
{% endblock content %}

{% block extend_footer %}

{% endblock extend_footer %}