{% extends 'base.html' %}
{% load static %}

{% block extend_header %}

{% endblock extend_header %}

{% block title %}
Payment Failure
{% endblock title %}

{% block content %}
<main class="container my-4">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading mb-2">Failure !</h4>
        <p>Payment Process Was Failed, Please Try Again Later</p>
        <a href="{% url 'shop:home-screen' %}">Go Back To Shop</a>
    </div>
</main>
{% endblock content %}

{% block extend_footer %}

{% endblock extend_footer %}