{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extend_header %}
<script src="{% static 'shop/main.js' %}" defer></script>
<script src="{% static 'shop/actions.js' %}" defer></script>
<script src="{% static 'shop/detail.js' %}" defer></script>
{% endblock extend_header %}

{% block title %}
Product Detail
{% endblock title %}

{% block content %}
<!-- Product Detail Begin -->
<section class="product-details spad" id="product-{{ qs.id }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item" id="zoom">
                        <img class="product__details__pic__item--large" id="main-img"
                            src="{{ qs.productattribute_set.first.image.url }}" alt="" >
                        <div id="large-img" style="background-image: url('{{ qs.productattribute_set.first.image.url }}');"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6" style="align-content: right;">
                <div class="product__details__text">
                    <h3>{{ qs.title }}</h3>
                    <div class="product__details__rating">
                        {% if avg_reviews.avg_rating %}
                        {% for star in avg_reviews.avg_rating|ljust:avg_reviews.avg_rating %}
                        <i class="fa fa-star"></i>
                        {% endfor %}
                        {% endif %}
                        <!-- <i class="fa fa-star-half-o"></i> -->
                        <span>({{ reviews.count }} review{{ reviews.count|pluralize }})</span>
                    </div>
                    <div class="product__details__price">${{ qs.productattribute_set.first.price }}</div>
                    <p>{{ qs.detail }}</p>
                    <a href="#" class="primary-btn">ADD TO CARD <i class="fas fa-shopping-cart fa-lg"></i></a>
                    <ul>
                        <li><b>Availability</b> <span>In Stock</span></li>
                        <li><b>Sizes</b>
                            {% for size in sizes %}
                            <label for="sz-{{ size.size__id }}">{{ size.size__title }}
                                <input type="checkbox" class="form-check-input to_checkmark" id="sz-{{ size.size__id }}"
                                    data-price="{{ size.price }}">
                                <i class="fas fa-check"></i>
                            </label>
                            {% empty %}
                            <p>No Filters...</p>
                            {% endfor %}
                        </li>
                        <li><b>Colors</b>
                            {% for color in colors %}
                            <span class="product__color__circle"
                                style="background-color: {{ color.color__color_code }}"></span>
                            {% endfor %}
                        </li>
                        <li><b>Share on</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card product__detail__tabs">
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="specs-tab" data-bs-toggle="tab"
                                    data-bs-target="#specs" type="button" role="tab" aria-controls="specs"
                                    aria-selected="false">Specifications</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews"
                                    type="button" role="tab" aria-controls="reviews"
                                    aria-selected="false">Reviews</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="specs" role="tabpanel"
                                aria-labelledby="specs-tab">
                                <!-- <p>{{ qs.specs }}</p> -->
                                <dl class="row product__specs">
                                    <dt class="col-sm-6">Description lists</dt>
                                    <dd class="col-sm-6">A description list A description list is perfect for defining
                                        terms.</dd>
                                    <dt class="col-sm-6">Description lists</dt>
                                    <dd class="col-sm-6">A description list is perfect for defining terms.</dd>

                                </dl>
                            </div>
                            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                                {% if user.is_authenticated %}
                                {% if can_add %}
                                <button data-bs-toggle="modal" data-bs-target="#review-modal" type="button"
                                    class="btn btn-warning btn-sm float-right reviewBtn" id="add-review-btn"
                                    style="float: right;">Add review </button>
                                {% endif %}
                                {% endif %}
                                {% if user.is_authenticated %}
                                <!-- Product Review -->

                                <div class="modal fade" id="review-modal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Add Product Review</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post" id="add-review-form" autocomplete="off">
                                                    {% csrf_token %}
                                                    {{ review_form|crispy }}
                                                    <div class="">
                                                        <button type="button" class="btn  btn-secondary"
                                                            data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" id="add-btn"
                                                            class="btn  btn-primary">Save</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Product Review End -->
                                {% endif %}

                                <div class="card reviews__card" id="{{ qs.id }}">
                                    <div class="card-body review-list" style="max-height: 400px; overflow: auto;">
                                        <!-- Detail -->
                                        {% for review in reviews %}
                                        <figure class="text-center">
                                            <blockquote class="blockquote">
                                                <small>{{ review.review_text }}</small>
                                            </blockquote>
                                            <figcaption class="blockquote-footer">
                                                {{ review.user }}
                                                <cite title="Source Title">
                                                    {% for star in review.review_rating|ljust:review.review_rating %}
                                                    <i class="fa fa-star text-warning"></i>
                                                    {% endfor %}
                                                </cite>
                                            </figcaption>
                                        </figure>
                                        {% empty %}
                                        <p class="add__first__review">Add First Review</p>
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->

<!-- Related Product Section Begin -->
<section class="related__products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related__product__title">
                    <h2>Related Products</h2>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-danger" role="status" id="main-spinner-box">
            </div>
        </div>
        <div class="row row-cols-3 product_cards"></div>
    </div>
</section>




<!-- Product Detail End -->
{% endblock content %} 
<!-- Custom Js -->
<script src="{% static 'assets/js/main.js' %}"></script>
{% block extend_footer %}

{% endblock %}