{% extends 'base.html' %}
{% load static %}

{% block scripts %}
<script src="{% static 'shop/shop.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
Shop
{% endblock title %}

{% block content %}
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                {% include 'shop/shop_sidebar.html' %}
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="filter__item">
                    <div class="d-flex flex-row filter__row">
                        <div class="col-lg-4 col-md-5 col-sm-4 col-5">
                            <div class="filter__sort">
                                <span>Sort By</span>
                                <select class="nice__select">
                                    <option value="0">Default</option>
                                    <option value="0">Price: low to hight</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                            <div class="filter__found">
                                <span>Showing 1–20 of 2510 results</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-3">
                            <div class="filter__option">
                                <span id="gridview-btn" class="active">
                                    <img src="{% static 'assets/img/icons/squares.png' %}" class="not-visible" alt="">
                                    <img src="{% static 'assets/img/icons/squares_filled.png' %}" class="" alt="">
                                </span>
                                <span id="listview-btn">
                                    <img src="{% static 'assets/img/icons/list.png' %}" alt="">
                                    <img src="{% static 'assets/img/icons/list_filled.png' %}" class="not-visible"
                                        alt="">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-3 product_cards">
                    <div class="card col-lg-4 col-md-12 col-sm-6 col-12">
                        <div class="wrapper">
                            <div class="product__header">
                                <div class="color__category animated-bg" id="category-color"></div>
                                <div class="img__product animated-bg" id="product-img"></div>
                            </div>
                            <div class="info__product">
                                <div class="product__header__text">
                                    <p class="product__name animated-bg animated-bg-text" id="product-name">
                                        &nbsp;
                                    </p>
                                    <p class="product__description animated-bg animated-bg-text" id="product-desc">
                                        &nbsp;
                                        <span class="animated-bg animated-bg-text">&nbsp;</span>
                                        <span class="animated-bg animated-bg-text">&nbsp;</span>
                                        <span class="animated-bg animated-bg-text">&nbsp;</span>
                                    </p>
                                </div>
                                <div class="actions">
                                    <div class="price__group">
                                        <p class="product__price price__offer animated-bg animated-bg-text"
                                            id="product-old-price">&nbsp;</p>
                                        <p class="product__price price__current animated-bg animated-bg-text"
                                            id="product-current-price">&nbsp;</p>
                                    </div>
                                    <div class="not-visible" id="action-el">
                                        <div class="card__icon action card__wishlist">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                                <path
                                                    d="M47 5c-6.5 0-12.9 4.2-15 10-2.1-5.8-8.5-10-15-10A15 15 0 0 0 2 20c0 13 11 26 30 39 19-13 30-26 30-39A15 15 0 0 0 47 5z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div class="card__icon action card__cart">
                                            <svg class="in__cart" xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 64 64">
                                                <title>Remove from cart</title>
                                                <path d="M30 22H12M2 6h6l10 40h32l3.2-9.7"></path>
                                                <circle cx="20" cy="54" r="4"></circle>
                                                <circle cx="46" cy="54" r="4"></circle>
                                                <circle cx="46" cy="22" r="16"></circle>
                                                <path d="M53 18l-8 9-5-5"></path>
                                            </svg>
                                            <svg class="out__cart" xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 64 64">
                                                <title>Add to cart</title>
                                                <path d="M2 6h10l10 40h32l8-24H16"></path>
                                                <circle cx="23" cy="54" r="4"></circle>
                                                <circle cx="49" cy="54" r="4"></circle>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-4 col-md-12 col-sm-6 col-12">
                        <div class="wrapper">
                            <div class="color__category" style="background-color: #1d1d1d;"></div>
                            <div class="img__product"
                                style="background-image: url('/static/assets/img/product/motherboard.png');">
                            </div>
                            <div class="info__product">
                                <div class="product__header__text">
                                    <p class="product__name">ARTFX DC UNIVERSE Batman HUSH Renewal
                                        Package
                                        ARTFX DC UNIVERSE Batman HUSH Renewal Package
                                        ARTFX DC UNIVERSE Batman HUSH Renewal Package
                                        ARTFX DC UNIVERSE Batman HUSH Renewal PackageARTFX DC UNIVERSE Batman HUSH
                                        Renewal Package
                                    </p>
                                    <p class="product__description">Lorem ipsum dolor sit amet,
                                        consectetur
                                        adipisicing
                                        elit. Culpa aut facere praesentium sunt quis laudantium, mollitia repellat quae
                                        temporibus iusto ipsa quibusdam tenetur eius cum possimus debitis labore maiores
                                        doloremque tempora incidunt, velit ad ipsam! Ut dolores error, qui perferendis
                                        porro
                                        mollitia asperiores ratione aperiam, iusto, ipsa eum nulla earum.</p>
                                </div>
                                <div class="actions">
                                    <div class="price__group">
                                        <p class="product__price price__offer">9,999</p>
                                        <p class="product__price price__current">2,799</p>
                                    </div>
                                    <div class="card__icon action card__wishlist">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                            <path
                                                d="M47 5c-6.5 0-12.9 4.2-15 10-2.1-5.8-8.5-10-15-10A15 15 0 0 0 2 20c0 13 11 26 30 39 19-13 30-26 30-39A15 15 0 0 0 47 5z">
                                            </path>
                                        </svg>
                                    </div>
                                    <div class="card__icon action card__cart">
                                        <svg class="in__cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                            <title>Remove from cart</title>
                                            <path d="M30 22H12M2 6h6l10 40h32l3.2-9.7"></path>
                                            <circle cx="20" cy="54" r="4"></circle>
                                            <circle cx="46" cy="54" r="4"></circle>
                                            <circle cx="46" cy="22" r="16"></circle>
                                            <path d="M53 18l-8 9-5-5"></path>
                                        </svg>
                                        <svg class="out__cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                            <title>Add to cart</title>
                                            <path d="M2 6h10l10 40h32l8-24H16"></path>
                                            <circle cx="23" cy="54" r="4"></circle>
                                            <circle cx="49" cy="54" r="4"></circle>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-4 col-md-12 col-sm-6 col-12">
                        <div class="wrapper">
                            <div class="color__category" style="background-color: #153a82;"></div>
                            <div class="img__product"
                                style="background-image: url(https://firebasestorage.googleapis.com/v0/b/fotos-3cba1.appspot.com/o/arthur.png?alt=media&token=7e0f09e6-1369-42c5-9c98-af99946fae72);">
                            </div>
                            <div class="info__product">
                                <div class="product__header__text">
                                    <p class="product__name">ARTFX DC UNIVERSE Batman HUSH Renewal Package
                                        ARTFX DC UNIVERSE Batman HUSH Renewal Package
                                        ARTFX DC UNIVERSE Batman HUSH Renewal Package
                                        ARTFX DC UNIVERSE Batman HUSH Renewal PackageARTFX DC UNIVERSE Batman HUSH
                                        Renewal Package
                                    </p>
                                    <p class="product__description">Lorem ipsum dolor sit amet, consectetur
                                        adipisicing
                                        elit. Culpa aut facere praesentium sunt quis laudantium, mollitia repellat quae
                                        temporibus iusto ipsa quibusdam tenetur eius cum possimus debitis labore maiores
                                        doloremque tempora incidunt, velit ad ipsam! Ut dolores error, qui perferendis
                                        porro
                                        mollitia asperiores ratione aperiam, iusto, ipsa eum nulla earum.</p>
                                </div>
                                <div class="actions">
                                    <div class="price__group">
                                        <p class="product__price price__offer">1,999</p>
                                        <p class="product__price price__current">9,999</p>
                                    </div>
                                    <div class="card__icon action card__wishlist">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                            <path
                                                d="M47 5c-6.5 0-12.9 4.2-15 10-2.1-5.8-8.5-10-15-10A15 15 0 0 0 2 20c0 13 11 26 30 39 19-13 30-26 30-39A15 15 0 0 0 47 5z">
                                            </path>
                                        </svg>
                                    </div>
                                    <div class="card__icon action card__cart">
                                        <svg class="in__cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                            <title>Remove from cart</title>
                                            <path d="M30 22H12M2 6h6l10 40h32l3.2-9.7"></path>
                                            <circle cx="20" cy="54" r="4"></circle>
                                            <circle cx="46" cy="54" r="4"></circle>
                                            <circle cx="46" cy="22" r="16"></circle>
                                            <path d="M53 18l-8 9-5-5"></path>
                                        </svg>
                                        <svg class="out__cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                            <title>Add to cart</title>
                                            <path d="M2 6h10l10 40h32l8-24H16"></path>
                                            <circle cx="23" cy="54" r="4"></circle>
                                            <circle cx="49" cy="54" r="4"></circle>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-4 col-md-12 col-sm-6 col-12">
                        <div class="wrapper">
                            <div class="color__category"></div>
                            <div class="img__product"
                                style="background-image: url('/static/assets/img/product/laptop.png');">
                            </div>
                            <div class="info__product">
                                <div class="product__header__text">
                                    <p class="product__name">ARTFX DC UNIVERSE Batman HUSH Renewal Package
                                        ARTFX DC UNIVERSE Batman HUSH Renewal Package
                                        ARTFX DC UNIVERSE Batman HUSH Renewal Package
                                        ARTFX DC UNIVERSE Batman HUSH Renewal PackageARTFX DC UNIVERSE Batman HUSH
                                        Renewal Package
                                    </p>
                                    <p class="product__description">Lorem ipsum dolor sit amet, consectetur
                                        adipisicing
                                        elit. Culpa aut facere praesentium sunt quis laudantium, mollitia repellat quae
                                        temporibus iusto ipsa quibusdam tenetur eius cum possimus debitis labore maiores
                                        doloremque tempora incidunt, velit ad ipsam! Ut dolores error, qui perferendis
                                        porro
                                        mollitia asperiores ratione aperiam, iusto, ipsa eum nulla earum.</p>
                                </div>
                                <div class="actions">
                                    <div class="price__group">
                                        <p class="product__price price__offer">9,999</p>
                                        <p class="product__price price__current">9,999</p>
                                    </div>
                                    <div class="card__icon action card__wishlist">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                            <path
                                                d="M47 5c-6.5 0-12.9 4.2-15 10-2.1-5.8-8.5-10-15-10A15 15 0 0 0 2 20c0 13 11 26 30 39 19-13 30-26 30-39A15 15 0 0 0 47 5z">
                                            </path>
                                        </svg>
                                    </div>
                                    <div class="card__icon action card__cart">
                                        <svg class="in__cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                            <title>Remove from cart</title>
                                            <path d="M30 22H12M2 6h6l10 40h32l3.2-9.7"></path>
                                            <circle cx="20" cy="54" r="4"></circle>
                                            <circle cx="46" cy="54" r="4"></circle>
                                            <circle cx="46" cy="22" r="16"></circle>
                                            <path d="M53 18l-8 9-5-5"></path>
                                        </svg>
                                        <svg class="out__cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                            <title>Add to cart</title>
                                            <path d="M2 6h10l10 40h32l8-24H16"></path>
                                            <circle cx="23" cy="54" r="4"></circle>
                                            <circle cx="49" cy="54" r="4"></circle>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-4 col-md-12 col-sm-6 col-12">
                        <div class="wrapper">
                            <div class="color__category" style="background-color: #1d1d1d;"></div>
                            <div class="img__product"
                                style="background-image: url('/static/assets/img/product/motherboard.png');">
                            </div>
                            <div class="info__product">
                                <div class="product__header__text">
                                    <p class="product__name">ARTFX DC UNIVERSE Batman HUSH Renewal Package
                                        ARTFX DC UNIVERSE Batman HUSH Renewal Package
                                        ARTFX DC UNIVERSE Batman HUSH Renewal Package
                                        ARTFX DC UNIVERSE Batman HUSH Renewal PackageARTFX DC UNIVERSE Batman HUSH
                                        Renewal Package
                                    </p>
                                    <p class="product__description">Lorem ipsum dolor sit amet, consectetur
                                        adipisicing
                                        elit. Culpa aut facere praesentium sunt quis laudantium, mollitia repellat quae
                                        temporibus iusto ipsa quibusdam tenetur eius cum possimus debitis labore maiores
                                        doloremque tempora incidunt, velit ad ipsam! Ut dolores error, qui perferendis
                                        porro
                                        mollitia asperiores ratione aperiam, iusto, ipsa eum nulla earum.</p>
                                </div>
                                <div class="actions">
                                    <div class="price__group">
                                        <p class="product__price price__offer">9,999</p>
                                        <p class="product__price price__current">2,799</p>
                                    </div>
                                    <div class="card__icon action card__wishlist">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                            <path
                                                d="M47 5c-6.5 0-12.9 4.2-15 10-2.1-5.8-8.5-10-15-10A15 15 0 0 0 2 20c0 13 11 26 30 39 19-13 30-26 30-39A15 15 0 0 0 47 5z">
                                            </path>
                                        </svg>
                                    </div>
                                    <div class="card__icon action card__cart">
                                        <svg class="in__cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                            <title>Remove from cart</title>
                                            <path d="M30 22H12M2 6h6l10 40h32l3.2-9.7"></path>
                                            <circle cx="20" cy="54" r="4"></circle>
                                            <circle cx="46" cy="54" r="4"></circle>
                                            <circle cx="46" cy="22" r="16"></circle>
                                            <path d="M53 18l-8 9-5-5"></path>
                                        </svg>
                                        <svg class="out__cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                            <title>Add to cart</title>
                                            <path d="M2 6h10l10 40h32l8-24H16"></path>
                                            <circle cx="23" cy="54" r="4"></circle>
                                            <circle cx="49" cy="54" r="4"></circle>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-4 col-md-12 col-sm-6 col-12">
                        <div class="wrapper">
                            <div class="color__category" style="background-color: #153a82;"></div>
                            <div class="img__product"
                                style="background-image: url(https://firebasestorage.googleapis.com/v0/b/fotos-3cba1.appspot.com/o/arthur.png?alt=media&token=7e0f09e6-1369-42c5-9c98-af99946fae72);">
                            </div>
                            <div class="info__product">
                                <div class="product__header__text">
                                    <p class="product__name">ARTFX DC UNIVERSE Batman HUSH Renewal Package
                                        ARTFX DC UNIVERSE Batman HUSH Renewal Package
                                        ARTFX DC UNIVERSE Batman HUSH Renewal Package
                                        ARTFX DC UNIVERSE Batman HUSH Renewal PackageARTFX DC UNIVERSE Batman HUSH
                                        Renewal Package
                                    </p>
                                    <p class="product__description">Lorem ipsum dolor sit amet, consectetur
                                        adipisicing
                                        elit. Culpa aut facere praesentium sunt quis laudantium, mollitia repellat quae
                                        temporibus iusto ipsa quibusdam tenetur eius cum possimus debitis labore maiores
                                        doloremque tempora incidunt, velit ad ipsam! Ut dolores error, qui perferendis
                                        porro
                                        mollitia asperiores ratione aperiam, iusto, ipsa eum nulla earum.</p>
                                </div>
                                </p>
                                <div class="actions">
                                    <div class="price__group">
                                        <p class="product__price price__offer">1,999</p>
                                        <p class="product__price price__current">9,999</p>
                                    </div>
                                    <div class="card__icon action card__wishlist">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                            <path
                                                d="M47 5c-6.5 0-12.9 4.2-15 10-2.1-5.8-8.5-10-15-10A15 15 0 0 0 2 20c0 13 11 26 30 39 19-13 30-26 30-39A15 15 0 0 0 47 5z">
                                            </path>
                                        </svg>
                                    </div>
                                    <div class="card__icon action card__cart">
                                        <svg class="in__cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                            <title>Remove from cart</title>
                                            <path d="M30 22H12M2 6h6l10 40h32l3.2-9.7"></path>
                                            <circle cx="20" cy="54" r="4"></circle>
                                            <circle cx="46" cy="54" r="4"></circle>
                                            <circle cx="46" cy="22" r="16"></circle>
                                            <path d="M53 18l-8 9-5-5"></path>
                                        </svg>
                                        <svg class="out__cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                            <title>Add to cart</title>
                                            <path d="M2 6h10l10 40h32l8-24H16"></path>
                                            <circle cx="23" cy="54" r="4"></circle>
                                            <circle cx="49" cy="54" r="4"></circle>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-4 col-md-12 col-sm-6 col-12">
                        <div class="wrapper">
                            <div class="color__category"></div>
                            <div class="img__product"
                                style="background-image: url('/static/assets/img/product/laptop.png');">
                            </div>
                            <div class="info__product">
                                <div class="product__header__text">
                                    <p class="product__name">ARTFX DC UNIVERSE Batman HUSH Renewal Package
                                        ARTFX DC UNIVERSE Batman HUSH Renewal Package
                                        ARTFX DC UNIVERSE Batman HUSH Renewal Package
                                        ARTFX DC UNIVERSE Batman HUSH Renewal PackageARTFX DC UNIVERSE Batman HUSH
                                        Renewal Package
                                    </p>
                                    <p class="product__description">Lorem ipsum dolor sit amet, consectetur
                                        adipisicing
                                        elit. Culpa aut facere praesentium sunt quis laudantium, mollitia repellat quae
                                        temporibus iusto ipsa quibusdam tenetur eius cum possimus debitis labore maiores
                                        doloremque tempora incidunt, velit ad ipsam! Ut dolores error, qui perferendis
                                        porro
                                        mollitia asperiores ratione aperiam, iusto, ipsa eum nulla earum.</p>
                                </div>
                                <div class="actions">
                                    <div class="price__group">
                                        <p class="product__price price__offer">9,999</p>
                                        <p class="product__price price__current">9,999</p>
                                    </div>
                                    <div class="card__icon action card__wishlist">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                            <path
                                                d="M47 5c-6.5 0-12.9 4.2-15 10-2.1-5.8-8.5-10-15-10A15 15 0 0 0 2 20c0 13 11 26 30 39 19-13 30-26 30-39A15 15 0 0 0 47 5z">
                                            </path>
                                        </svg>
                                    </div>
                                    <div class="card__icon action card__cart">
                                        <svg class="in__cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                            <title>Remove from cart</title>
                                            <path d="M30 22H12M2 6h6l10 40h32l3.2-9.7"></path>
                                            <circle cx="20" cy="54" r="4"></circle>
                                            <circle cx="46" cy="54" r="4"></circle>
                                            <circle cx="46" cy="22" r="16"></circle>
                                            <path d="M53 18l-8 9-5-5"></path>
                                        </svg>
                                        <svg class="out__cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                            <title>Add to cart</title>
                                            <path d="M2 6h10l10 40h32l8-24H16"></path>
                                            <circle cx="23" cy="54" r="4"></circle>
                                            <circle cx="49" cy="54" r="4"></circle>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-4 col-md-12 col-sm-6 col-12">
                        <div class="wrapper">
                            <div class="color__category" style="background-color: #1d1d1d;"></div>
                            <div class="img__product"
                                style="background-image: url('/static/assets/img/product/motherboard.png');">
                            </div>
                            <div class="info__product">
                                <div class="product__header__text">
                                    <p class="product__name">ARTFX DC UNIVERSE Batman HUSH Renewal Package
                                        ARTFX DC UNIVERSE Batman HUSH Renewal Package
                                        ARTFX DC UNIVERSE Batman HUSH Renewal Package
                                        ARTFX DC UNIVERSE Batman HUSH Renewal PackageARTFX DC UNIVERSE Batman HUSH
                                        Renewal Package
                                    </p>
                                    <p class="product__description">Lorem ipsum dolor sit amet, consectetur
                                        adipisicing
                                        elit. Culpa aut facere praesentium sunt quis laudantium, mollitia repellat quae
                                        temporibus iusto ipsa quibusdam tenetur eius cum possimus debitis labore maiores
                                        doloremque tempora incidunt, velit ad ipsam! Ut dolores error, qui perferendis
                                        porro
                                        mollitia asperiores ratione aperiam, iusto, ipsa eum nulla earum.</p>
                                </div>
                                <div class="actions">
                                    <div class="price__group">
                                        <p class="product__price price__offer">9,999</p>
                                        <p class="product__price price__current">2,799</p>
                                    </div>
                                    <div class="card__icon action card__wishlist">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                            <path
                                                d="M47 5c-6.5 0-12.9 4.2-15 10-2.1-5.8-8.5-10-15-10A15 15 0 0 0 2 20c0 13 11 26 30 39 19-13 30-26 30-39A15 15 0 0 0 47 5z">
                                            </path>
                                        </svg>
                                    </div>
                                    <div class="card__icon action card__cart">
                                        <svg class="in__cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                            <title>Remove from cart</title>
                                            <path d="M30 22H12M2 6h6l10 40h32l3.2-9.7"></path>
                                            <circle cx="20" cy="54" r="4"></circle>
                                            <circle cx="46" cy="54" r="4"></circle>
                                            <circle cx="46" cy="22" r="16"></circle>
                                            <path d="M53 18l-8 9-5-5"></path>
                                        </svg>
                                        <svg class="out__cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                            <title>Add to cart</title>
                                            <path d="M2 6h10l10 40h32l8-24H16"></path>
                                            <circle cx="23" cy="54" r="4"></circle>
                                            <circle cx="49" cy="54" r="4"></circle>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-lg-4 col-md-12 col-sm-6 col-12">
                        <div class="wrapper">
                            <div class="color__category" style="background-color: #153a82;"></div>
                            <div class="img__product"
                                style="background-image: url(https://firebasestorage.googleapis.com/v0/b/fotos-3cba1.appspot.com/o/arthur.png?alt=media&token=7e0f09e6-1369-42c5-9c98-af99946fae72);">
                            </div>
                            <div class="info__product">
                                <div class="product__header__text">
                                    <p class="product__name">ARTFX DC UNIVERSE Batman HUSH Renewal Package
                                        ARTFX DC UNIVERSE Batman HUSH Renewal Package
                                        ARTFX DC UNIVERSE Batman HUSH Renewal Package
                                        ARTFX DC UNIVERSE Batman HUSH Renewal PackageARTFX DC UNIVERSE Batman HUSH
                                        Renewal Package
                                    </p>
                                    <p class="product__description">Lorem ipsum dolor sit amet, consectetur
                                        adipisicing
                                        elit. Culpa aut facere praesentium sunt quis laudantium, mollitia repellat quae
                                        temporibus iusto ipsa quibusdam tenetur eius cum possimus debitis labore maiores
                                        doloremque tempora incidunt, velit ad ipsam! Ut dolores error, qui perferendis
                                        porro
                                        mollitia asperiores ratione aperiam, iusto, ipsa eum nulla earum.</p>
                                </div>
                                <div class="actions">
                                    <div class="price__group">
                                        <p class="product__price price__offer">1,999</p>
                                        <p class="product__price price__current">9,999</p>
                                    </div>
                                    <div class="card__icon action card__wishlist">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                            <path
                                                d="M47 5c-6.5 0-12.9 4.2-15 10-2.1-5.8-8.5-10-15-10A15 15 0 0 0 2 20c0 13 11 26 30 39 19-13 30-26 30-39A15 15 0 0 0 47 5z">
                                            </path>
                                        </svg>
                                    </div>
                                    <div class="card__icon action card__cart">
                                        <svg class="in__cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                            <title>Remove from cart</title>
                                            <path d="M30 22H12M2 6h6l10 40h32l3.2-9.7"></path>
                                            <circle cx="20" cy="54" r="4"></circle>
                                            <circle cx="46" cy="54" r="4"></circle>
                                            <circle cx="46" cy="22" r="16"></circle>
                                            <path d="M53 18l-8 9-5-5"></path>
                                        </svg>
                                        <svg class="out__cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                            <title>Add to cart</title>
                                            <path d="M2 6h10l10 40h32l8-24H16"></path>
                                            <circle cx="23" cy="54" r="4"></circle>
                                            <circle cx="49" cy="54" r="4"></circle>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product__pagination">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
{% endblock content %}