{% load static %}
<div class="sidebar">
    <div class="sidebar__item">
        <div class="categories-menu">
            <div class="category-heading">
                <h4> Department</h4>
            </div>
            <div class="category-menu-list">
                <ul>
                    <li><a href="#">Women’s Clothing <i class="zmdi zmdi-chevron-right"></i></a>
                        <div class="category-menu-dropdown">
                            <div class="category-part-1 category-common mb--30">
                                <h4 class="categories-subtitle"> Jewelry & Watches</h4>
                                <ul>
                                    <li><a href="#"> Men’s Clothing</a></li>
                                    <li><a href="#"> Computer & Office</a></li>
                                    <li><a href="#"> Jewelry & Watches</a></li>
                                    <li><a href="#"> Bags & Shoes</a></li>
                                    <li><a href="#"> Phones & Accessories</a></li>
                                </ul>
                            </div>
                            <div class="category-part-2 category-common mb--30">
                                <h4 class="categories-subtitle"> Jewelry & Watches</h4>
                                <ul>
                                    <li><a href="#"> Men’s Clothing</a></li>
                                    <li><a href="#"> Computer & Office</a></li>
                                    <li><a href="#"> Jewelry & Watches</a></li>
                                    <li><a href="#"> Bags & Shoes</a></li>
                                    <li><a href="#"> Phones & Accessories</a></li>
                                </ul>
                            </div>
                            <div class="category-part-3 category-common">
                                <h4 class="categories-subtitle"> Jewelry & Watches</h4>
                                <ul>
                                    <li><a href="#"> Men’s Clothing</a></li>
                                    <li><a href="#"> Computer & Office</a></li>
                                    <li><a href="#"> Jewelry & Watches</a></li>
                                    <li><a href="#"> Bags & Shoes</a></li>
                                    <li><a href="#"> Phones & Accessories</a></li>
                                </ul>
                            </div>
                            <div class="category-part-4 category-common">
                                <h4 class="categories-subtitle"> Jewelry & Watches</h4>
                                <ul>
                                    <li><a href="#"> Men’s Clothing</a></li>
                                    <li><a href="#"> Computer & Office</a></li>
                                    <li><a href="#"> Jewelry & Watches</a></li>
                                    <li><a href="#"> Bags & Shoes</a></li>
                                    <li><a href="#"> Phones & Accessories</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="#"> Man Fashion <i class="zmdi zmdi-chevron-right"></i></a>
                        <div class="category-menu-dropdown">
                            <div class="category-part-1 category-common2 mb--30">
                                <h4 class="categories-subtitle"> Jewelry & Watches</h4>
                                <ul>
                                    <li><a href="#"> Men’s Clothing</a></li>
                                    <li><a href="#"> Computer & Office</a></li>
                                    <li><a href="#"> Jewelry & Watches</a></li>
                                    <li><a href="#"> Bags & Shoes</a></li>
                                    <li><a href="#"> Phones & Accessories</a></li>
                                </ul>
                            </div>
                            <div class="category-part-2 category-common2 mb--30">
                                <h4 class="categories-subtitle"> Jewelry & Watches</h4>
                                <ul>
                                    <li><a href="#"> Men’s Clothing</a></li>
                                    <li><a href="#"> Computer & Office</a></li>
                                    <li><a href="#"> Jewelry & Watches</a></li>
                                    <li><a href="#"> Bags & Shoes</a></li>
                                    <li><a href="#"> Phones & Accessories</a></li>
                                </ul>
                            </div>
                            <div class="category-part-3 category-common2 mb--30">
                                <h4 class="categories-subtitle">dress</h4>
                                <ul>
                                    <li><a href="#"> Men’s Clothing</a></li>
                                    <li><a href="#"> Computer & Office</a></li>
                                    <li><a href="#"> Jewelry & Watches</a></li>
                                    <li><a href="#"> Bags & Shoes</a></li>
                                    <li><a href="#"> Phones & Accessories</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="#"> Computer & Office <i class="zmdi zmdi-chevron-right"></i></a>
                        <div class="category-menu-dropdown">
                            <div class="category-menu-dropdown-top">
                                <div class="category-part-1 category-common2 mb--30">
                                    <h4 class="categories-subtitle"> Jewelry & Watches</h4>
                                    <ul>
                                        <li><a href="#"> Men’s Clothing</a></li>
                                        <li><a href="#"> Computer & Office</a></li>
                                        <li><a href="#"> Jewelry & Watches</a></li>
                                        <li><a href="#"> Bags & Shoes</a></li>
                                        <li><a href="#"> Phones & Accessories</a></li>
                                    </ul>
                                </div>
                                <div class="category-part-2 category-common2 mb--30">
                                    <h4 class="categories-subtitle"> Jewelry & Watches</h4>
                                    <ul>
                                        <li><a href="#"> Men’s Clothing</a></li>
                                        <li><a href="#"> Computer & Office</a></li>
                                        <li><a href="#"> Jewelry & Watches</a></li>
                                        <li><a href="#"> Bags & Shoes</a></li>
                                        <li><a href="#"> Phones & Accessories</a></li>
                                    </ul>
                                </div>
                                <div class="category-part-3 category-common2 mb--30">
                                    <h4 class="categories-subtitle">Jewelry & Watches</h4>
                                    <ul>
                                        <li><a href="#"> Men’s Clothing</a></li>
                                        <li><a href="#"> Computer & Office</a></li>
                                        <li><a href="#"> Jewelry & Watches</a></li>
                                        <li><a href="#"> Bags & Shoes</a></li>
                                        <li><a href="#"> Phones & Accessories</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="category-menu-dropdown-bottom">

                            </div>
                        </div>
                    </li>
                    <li><a href="#"> Jewelry & Watches <i class="zmdi zmdi-chevron-right"></i></a>
                        <div class="category-menu-dropdown">
                            <div class="category-menu-dropdown-left">
                                <div class="category-part-1 category-common mb--30">
                                    <h4 class="categories-subtitle"> Jewelry & Watches</h4>
                                    <ul>
                                        <li><a href="#"> Men’s Clothing</a></li>
                                        <li><a href="#"> Computer & Office</a></li>
                                        <li><a href="#"> Jewelry & Watches</a></li>
                                        <li><a href="#"> Bags & Shoes</a></li>
                                        <li><a href="#"> Phones & Accessories</a></li>
                                    </ul>
                                </div>
                                <div class="category-part-2 category-common mb--30">
                                    <h4 class="categories-subtitle"> Jewelry & Watches</h4>
                                    <ul>
                                        <li><a href="#"> Men’s Clothing</a></li>
                                        <li><a href="#"> Computer & Office</a></li>
                                        <li><a href="#"> Jewelry & Watches</a></li>
                                        <li><a href="#"> Bags & Shoes</a></li>
                                        <li><a href="#"> Phones & Accessories</a></li>
                                    </ul>
                                </div>
                                <div class="category-part-3 category-common">
                                    <h4 class="categories-subtitle"> Jewelry & Watches</h4>
                                    <ul>
                                        <li><a href="#"> Men’s Clothing</a></li>
                                        <li><a href="#"> Computer & Office</a></li>
                                        <li><a href="#"> Jewelry & Watches</a></li>
                                        <li><a href="#"> Bags & Shoes</a></li>
                                        <li><a href="#"> Phones & Accessories</a></li>
                                    </ul>
                                </div>
                                <div class="category-part-4 category-common">
                                    <h4 class="categories-subtitle"> Jewelry & Watches</h4>
                                    <ul>
                                        <li><a href="#"> Men’s Clothing</a></li>
                                        <li><a href="#"> Computer & Office</a></li>
                                        <li><a href="#"> Jewelry & Watches</a></li>
                                        <li><a href="#"> Bags & Shoes</a></li>
                                        <li><a href="#"> Phones & Accessories</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="category-menu-dropdown-right">

                            </div>
                        </div>
                    </li>
                    <li><a href="#"> Men’s Clothing <i class="zmdi zmdi-chevron-right"></i></a>
                        <div class="category-menu-dropdown">
                            <div class="category-menu-dropdown-left">
                                <div class="category-part-1 category-common">
                                    <h4 class="categories-subtitle"> Jewelry & Watches</h4>
                                    <ul>
                                        <li><a href="#"> Men’s Clothing</a></li>
                                        <li><a href="#"> Computer & Office</a></li>
                                        <li><a href="#"> Jewelry & Watches</a></li>
                                        <li><a href="#"> Bags & Shoes</a></li>
                                        <li><a href="#"> Phones </a></li>
                                        <li><a href="#"> Computer & Office</a></li>
                                        <li><a href="#"> Phones & Accessories</a></li>
                                    </ul>
                                </div>
                                <div class="category-part-2 category-common">
                                    <h4 class="categories-subtitle"> Jewelry & Watches</h4>
                                    <ul>
                                        <li><a href="#"> Men’s Clothing</a></li>
                                        <li><a href="#"> Computer & Office</a></li>
                                        <li><a href="#"> Jewelry & Watches</a></li>
                                        <li><a href="#"> Bags & Shoes</a></li>
                                        <li><a href="#"> Phones </a></li>
                                        <li><a href="#"> Computer & Office</a></li>
                                        <li><a href="#"> Phones & Accessories</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="category-menu-dropdown-right">

                            </div>
                        </div>
                    </li>
                    <li><a href="#"> Bags & Shoes</a></li>
                    <li><a href="#"> Toys & Kids & Baby</a>
                    </li>
                    <li><a href="#"> Automobiles </a></li>
                    <li><a href="#"> Jewelry & Watches</a>
                    </li>
                    <li><a href="#"> Consumer Electronics</a>
                    </li>
                    <li><a href="#"> all Accessories</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-title">
        <h3>Filters</h3>
    </div>

    <div class="sidebar__item">
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-secondary" role="status" id="filter-spinner-box">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="accordion not-visible" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        Categories
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <div class="shop__sidebar__categories">
                            <ul class="nice-scroll">
                                <li><a href="#">Men (20)</a></li>
                                <li><a href="#">Women (20)</a></li>
                                <li><a href="#">Bags (20)</a></li>
                                <li><a href="#">Clothing (20)</a></li>
                                <li><a href="#">Shoes (20)</a></li>
                                <li><a href="#">Accessories (20)</a></li>
                                <li><a href="#">Kids (20)</a></li>
                                <li><a href="#">Kids (20)</a></li>
                                <li><a href="#">Kids (20)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseTwo">
                        Branding
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        <div class="shop__sidebar__brand">
                            <ul>
                                <li><a href="#">Louis Vuitton</a></li>
                                <li><a href="#">Chanel</a></li>
                                <li><a href="#">Hermes</a></li>
                                <li><a href="#">Gucci</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseThree">
                        Price
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        <div class="range-slider" id="facet-price-range-slider"
                            data-options='{"output":{"prefix":"$"},"maxSymbol":"+"}'>
                            <input id="max-price" name="range-1" value="0" min="0" max="1250" step="1" type="range">
                            <input name="range-2" value="1250" min="0" max="1250" step="1" type="range">
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFour">
                        Size
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingFour">
                    <div class="accordion-body">
                        <div class="shop__sidebar__size">
                            <label for="xs">xs
                                <input type="radio" id="xs">
                            </label>
                            <label for="sm">s
                                <input type="radio" id="sm">
                            </label>
                            <label for="md">m
                                <input type="radio" id="md">
                            </label>
                            <label for="xl">xl
                                <input type="radio" id="xl">
                            </label>
                            <label for="2xl">2xl
                                <input type="radio" id="2xl">
                            </label>
                            <label for="xxl">xxl
                                <input type="radio" id="xxl">
                            </label>
                            <label for="3xl">3xl
                                <input type="radio" id="3xl">
                            </label>
                            <label for="4xl">4xl
                                <input type="radio" id="4xl">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFive">
                        Colors
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingFive">
                    <div class="accordion-body">
                        <div class="shop__sidebar__color">
                            <label class="c-1" for="sp-1" style="background-color: #153a82;">
                                <input type="radio" id="sp-1">
                            </label>
                            <label class="c-2" for="sp-2" style="background-color: #153a82;">
                                <input type="radio" id="sp-2">
                            </label>
                            <label class="c-3" for="sp-3" style="background-color: #153a82;">
                                <input type="radio" id="sp-3">
                            </label>
                            <label class="c-4" for="sp-4" style="background-color: #153a82;">
                                <input type="radio" id="sp-4">
                            </label>
                            <label class="c-5" for="sp-5" style="background-color: #153a82;">
                                <input type="radio" id="sp-5">
                            </label>
                            <label class="c-6" for="sp-6" style="background-color: #153a82;">
                                <input type="radio" id="sp-6">
                            </label>
                            <label class="c-7" for="sp-7" style="background-color: #153a82;">
                                <input type="radio" id="sp-7">
                            </label>
                            <label class="c-8" for="sp-8" style="background-color: #153a82;">
                                <input type="radio" id="sp-8">
                            </label>
                            <label class="c-9" for="sp-9" style="background-color: #153a82;">
                                <input type="radio" id="sp-9">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseSix">
                        Tags
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingSix">
                    <div class="accordion-body">
                        <div class="shop__sidebar__tags">
                            <a href="#">Product</a>
                            <a href="#">Bags</a>
                            <a href="#">Shoes</a>
                            <a href="#">Fashio</a>
                            <a href="#">Clothing</a>
                            <a href="#">Hats</a>
                            <a href="#">Accessories</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>