{% extends 'base.html' %}
{% load static %}

{% block scripts %}
<script src="{% static 'shop/main.js' %}" defer></script>
<script src="{% static 'shop/actions.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
Shop
{% endblock title %}

{% block content %}
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                {% include 'shop/shop_sidebar.html' %}
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="filter__item">
                    <div class="d-flex flex-row filter__row">
                        <div class="col-lg-4 col-md-5 col-sm-4 col-5">
                            <div class="filter__sort">
                                <span>Sort By</span>
                                <select class="" id="sort-el">
                                    <option value="0">Default</option>
                                    <option value="1">Price: low to hight</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                            <div class="filter__found">
                                <span id="product-count-el"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-4 col-3">
                            <div class="filter__option">
                                <span id="gridview-btn" class="active">
                                    <img src="{% static 'assets/img/icons/squares.png' %}" class="not-visible" alt="">
                                    <img src="{% static 'assets/img/icons/squares_filled.png' %}" class="" alt="">
                                </span>
                                <span id="listview-btn">
                                    <img src="{% static 'assets/img/icons/list.png' %}" alt="">
                                    <img src="{% static 'assets/img/icons/list_filled.png' %}" class="not-visible"
                                        alt="">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-3 product_cards"></div>

            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
{% endblock content %}