{% load static %}

<div class="sidebar">
    <div class="sidebar__item">
        <div class="categories-menu">
            <div class="category-heading">
                <h4>Browse Categories</h4>
            </div>
            <div class="category-menu-list">
                <ul>
                    {% for category in categories %}
                    <li><a href="#"> {{ category.title }}</a>
                        {% if subcategories %}
                        <div class="category-menu-dropdown">
                            <div class="category-common">
                                <i class="fas fa-question-circle fa-2x"></i>
                                <h4 class="categories-subtitle">{{ category.title }}</h4>
                                <ul>
                                    {% for subcategory in subcategories %}
                                    <li> {{ subcategory.title }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                    </li>
                    {% empty %}
                    <li>
                        <p>No Categories...</p>
                    </li>
                    {% endfor %}
                    <li><a href="#"> all Accessories</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-title">
        <h3>Filters</h3>
    </div>

    <div class="sidebar__item">
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-danger" role="status" id="filter-spinner-box">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="accordion not-visible" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        Subcategories
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <div class="shop__sidebar__categories">
                            <ul class="nice-scroll">
                                {% for subcategory in subcategories %}
                                <li class="form-check">
                                    <label class="form-check-label" for="cat-{{ subcategory.id }}">
                                        {{ subcategory.title }} ({{ subcategory.product_set.all.count }})
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="cat-{{ subcategory.id }}">
                                    </label>
                                </li>
                                {% empty %}
                                <p>No Filters...</p>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseTwo">
                        Brands
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        <div class="shop__sidebar__brand">
                            <ul>
                                {% for brand in brands %}
                                <li class="form-check">
                                    <label class="form-check-label" for="brd-{{ brand.id }}">
                                        {{ brand.name }} ({{ brand.product_set.all.count }})
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="brd-{{ brand.id }}">
                                    </label>
                                </li>
                                {% empty %}
                                <p>No Filters...</p>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseThree">
                        Price
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        {% if max__price %}
                            <div class="range-slider" id="facet-price-range-slider"
                                data-options='{"output":{"prefix":"$"},"maxSymbol":"+"}'>
                                <input id="max-price" name="range-1" value="0" min="0" max="{{ max_price.price__max }}" step="1" type="range">
                                <input name="range-2" value="{{ max_price.price__max }}" min="0" max="{{ max_price.price__max }}" step="1" type="range">
                            </div>
                        {% else %}
                            <p>No Filters...</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFour">
                        Size
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingFour">
                    <div class="accordion-body">
                        <div class="shop__sidebar__size">
                            {% for size in sizes %}
                            <label for="sz-{{ size.id }}">{{ size.title }}
                                <input type="checkbox" class="form-check-input to_checkmark" id="sz-{{ size.id }}">
                                <i class="fas fa-check"></i>
                            </label>
                            {% empty %}
                            <p>No Filters...</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFive">
                        Colors
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingFive">
                    <div class="accordion-body">
                        <div class="shop__sidebar__color">
                            {% for color in colors %}
                            <label for="col-{{ color.id }}">{{ color.title }}
                                <input type="checkbox" class="form-check-input to_checkmark" id="col-{{ color.id }}">
                                <i class="fas fa-check"></i>
                            </label>
                            {% empty %}
                            <p>No Filters...</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>