{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extend_header %}
<script src="{% static 'users/main.js' %}" defer></script>
{% endblock %}

{% block title %}
My Addresses
{% endblock title %}

{% block content %}
<!-- Addressbook Page Begin -->
<main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Address Book <btn data-bs-toggle="modal" data-bs-target="#create-addr-modal"
			id="create-addr-btn" class="float-right btn btn-sm btn-success"><i class="fa fa-plus"></i></btn>
	</h3>

	<!-- Create New Address Book Modal Start -->
	<div class="modal fade" id="create-addr-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Add Address Book</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="create-addr-form" autocomplete="off">
						{% csrf_token %}
						{{ addr_form|crispy }}
						<div class="">
							<button type="button" class="btn  btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="submit" id="add-btn" class="btn  btn-primary">Save</button>
						</div>
					</form>
				</div>


			</div>
		</div>
	</div>
	<!-- Create New Address Book Modal End -->

	<!-- Delete Address Book Modal Start -->
	<div class="modal fade" id="delete-addr-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Add Address Book</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p class="mb-0">Are you sure you want to delete: </p>
				</div>
				<div class="modal-footer">
					<form id="delete-addr-form">
						{% csrf_token %}
						<button type="button" class="btn  btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn  btn-danger">Delete</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Delete Address Book Modal End -->

	<!-- Update Address Book Modal Start -->
	<div class="modal fade" id="update-addr-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Add Address Book</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="update-addr-form" autocomplete="off">
						{% csrf_token %}
						{% crispy addr_form %}
					</form>
				</div>

			</div>
		</div>
	</div>
	<!-- Update Address Book Modal End -->

	<div class="row user__content">
		<div class="col-md-3">
			{% include 'users/user_sidebar.html' %}
		</div>
		<div class="col-md-9">
			<div class="row addrbook__wrapper user__right__side">
				{% for addr in addrbook %}
				<div class="col-md-4">
					<div class="card mb-3 {% if addr.status %}border-secondary shadow{% endif %}" id="addr-{{ addr.id }}">
						<div class="card-body">
							<p class="card-text">{{ addr.address }}</p>
							<p class="card-text">{{ addr.mobile }}</p>
						</div>
						{% if addr.status %}
						<div class="card-footer">
							<i class="fa fa-check-circle fa-2x text-success addr__checkmark" id="check-{{ addr.id }}"></i>
							<button id="{{ addr.id }}" class="btn btn-sm btn-outline-danger activate-address activate__btn" style="display:none;">Activate</button>
							<!-- delete-addr -->
							<button type="button" id="del-{{ addr.id }}" class="btn del__addr" data-bs-toggle="modal" data-bs-target="#delete-addr-modal" style="display:none;"><i class="fa fa-trash"></i></button>
							<!-- update-addr -->
							<button type="button" id="edit-{{ addr.id }}" class="btn edit__addr" data-bs-toggle="modal" data-bs-target="#update-addr-modal"><i class="fa fa-pen"></i></button>
						</div>
						{% else %}
						<div class="card-footer footer{{addr.id}}">
							<i class="fa fa-check-circle fa-2x text-success" id="check-{{ addr.id }}" style="display:none;"></i>
							<button  id="{{ addr.id }}" class="btn btn-sm btn-outline-danger activate-address activate__btn">Activate</button>
							<!-- delete-addr -->
							<button type="button" id="del-{{ addr.id }}" class="btn del__addr" data-bs-toggle="modal" data-bs-target="#delete-addr-modal"><i class="fa fa-trash"></i></button>
							<!-- update-addr -->
							<button type="button" id="edit-{{ addr.id }}" class="btn edit__addr" data-bs-toggle="modal" data-bs-target="#update-addr-modal"><i class="fa fa-pen"></i></button>
						</div>
						{% endif %}
					</div>
				</div>
				{% empty %}
				<p class="text-center">You have no address yet. </p>
				{% endfor %}
			</div>
		</div>
	</div>
</main>
<!-- Addressbook Page End -->
{% endblock content %}

{% block extend_footer %}

{% endblock %}