{% extends 'base.html' %}
{% load static %}

{% block extend_header %}

{% endblock %}

{% block title %}
Cart
{% endblock title %}
    
{% block content %}
<!-- Logout Page Begin -->
<main class="container my-4 user__content  mt-5">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading mb-2">Logged Out !</h4>
        <p>You have successfully logged out.</p>
        <a href="{% url 'users:login' %}">Login In Again</a>
    </div>
</main>    
<!-- Logout Page End -->
{% endblock content %}

{% block extend_footer %}

{% endblock %}