{% extends 'base.html' %}
{% load static %}

{% block extend_header %}

{% endblock %}

{% block title %}
Pwd Reset
{% endblock title %}
    
{% block content %}
<!-- Password RESET Done Page Begin -->
<div class="container my-4 user__content  mt-5">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading mb-2">Information !</h4>
        <p>An email has been sent to your email address with instructions to reset your password.</p>
        <a href="{% url 'users:login' %}">OK</a>
    </div>
</div>
<!-- Password RESET Done Page End -->
{% endblock content %}

{% block extend_footer %}

{% endblock %}