{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extend_header %}

{% endblock %}

{% block title %}
Pwd Reset
{% endblock title %}
    
{% block content %}
<!-- Password Reset Page Begin -->
<div class="container user__content">
    <div class="signup_wrapper">
        <div class="form-container">
            <div class="header-text">Request Password Reset</div>
            <form class="signup_form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="non-field-errors">
                        {% for err in form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                <p>{{ err }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {{ form.email|as_crispy_field }}
                
                <button type="submit" class="site-btn">Request Password Reset</button>
            </form>
            {% if not user.is_authenticated %}
                <div class="have-account">
                    Don't have an account? <span><a href="{% url 'users:signup' %}"> <b> Sign Up Instead</b></a></span>
                </div>
            {% endif %}
        </div> 
    </div>
</div>
<!-- Password Reset Page End -->
{% endblock content %}

{% block extend_footer %}

{% endblock %}