{% extends 'base.html' %}
{% load static %}

{% block extend_header %}

{% endblock %}

{% block title %}
Pwd Reset
{% endblock title %}
    
{% block content %}
<!-- Password Reset Complete Page Begin -->
<div class="container my-4 user__content  mt-5">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading mb-2">Success !</h4>
        <p>Your password has been set...</p>
        <a href="{% url 'users:login' %}">Sign In Here</a>
    </div>
</div>
<!-- Password Reset Complete Page End -->
{% endblock content %}

{% block extend_footer %}

{% endblock %}