{% extends 'base.html' %}
{% load static %}

{% block extend_header %}

{% endblock %}

{% block title %}
Pwd Reset
{% endblock title %}
    
{% block content %}
<!-- [ auth-password-reset-done ] start -->
{%if validlink %}
<div class="container user__content">
    <div class="signup_wrapper">
        <div class="form-container">
            <div class="header-text">Reset Your Password</div>
            <form class="signup_form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.new_password1|as_crispy_field }}

                {{ form.new_password2|as_crispy_field }}

                <button type="submit" class="site-btn">Reset Password</button>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="container center">
    <h1 class="tm-site-title mt-5">This Link is Dead.</h1>
    <p class="text-white mb-5"><a href="{% url 'users:login' %}" class="click-login">OK</a></p>
</div>

{% endif %}
<!-- [ auth-password-reset-done ] end -->
{% endblock content %}

{% block extend_footer %}

{% endblock %}