{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extend_header %}
<script src="{% static 'users/actions.js' %}" defer></script>
{% endblock %}

{% block title %}
Profile
{% endblock title %}
    
{% block content %}
<!-- Profile Page Begin -->
<main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Edit Profile</h3>
	<div class="row">
		<div class="col-md-3">
			{% include 'users/user_sidebar.html' %}
		</div>
		<div class="col-md-9">
			{% if msg %}
			<p class="text-success">{{ msg }}</p>
			{% endif %}
			<table class="table table-bordered">
				<form id="profile-form">
					{% csrf_token %}
					{{ form.as_table }}
					<tr>
						<td colspan="2">
							<input id="saveProfile-box" type="submit" value="Save" class="btn btn-primary" />
							<div id="spinner-box" class="spinner-border text-center not-visible">
								<div class="sr-only" role="status"></div>
							</div>
						</td>
					</tr>
				</form>
			</table>
		</div>
	</div>
</main>
<!-- Profile Page End -->
{% endblock content %}

{% block extend_footer %}

{% endblock %}