
{% load static %}

<!-- User Sidebar Begin -->
<div class="list-group user__sidebar mb-3">
	<a href="{% url 'users:dashboard' %}" class="list-group-item {% if request.path == '/users/dashboard/' %}active {% endif %}">Dashboard</a>
	<a href="{% url 'users:profile' %}" class="list-group-item {% if request.path == '/users/profile' %}active {% endif %}">Profile</a>
	<a href="{% url 'users:orders' %}" class="list-group-item {% if request.path == '/users/orders' %}active {% endif %}">My Orders</a>
	<a href="{% url 'users:reviews' %}" class="list-group-item {% if request.path == '/users/reviews' %}active {% endif %}">My Reviews</a>
	<a href="{% url 'users:addressbook' %}" class="list-group-item {% if request.path == '/users/addressbook' %}active {% endif %}">Address Book</a>
	<a href="{% url 'users:password_reset' %}" class="list-group-item {% if request.path == '/users/accounts/password_change' %}active {% endif %}">Password Change</a>
	<a href="{% url 'users:logout' %}" class="text-danger list-group-item">Logout</a>
</div>
<!-- User Sidebar End -->
