{% extends 'base.html' %}
{% load static %}

{% block extend_header %}
<script src="{% static 'contact/main.js' %}" defer></script>
{% endblock extend_header %}

{% block title %}
Contact
{% endblock title %}

{% block content %}
<!-- Contact Page Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <img src="{% static 'assets/img/icons/phone.png' %}" alt="">
                    <h4>Phone</h4>
                    <p>+213 551 903 435</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <img src="{% static 'assets/img/icons/location.png' %}" alt="">
                    <h4>Address</h4>
                    <p>60-49 Road 11378 New York</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <img src="{% static 'assets/img/icons/opening-hours.png' %}" alt="">
                    <h4>Open time</h4>
                    <p>08:00 am to 17:00 pm</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <img src="{% static 'assets/img/icons/gmail.png' %}" alt="">
                    <h4>Email</h4>
                    <p> example@example.com</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Map Begin -->
<div class="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49116.39176087041!2d-86.41867791216099!3d39.69977417971648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886ca48c841038a1%3A0x70cfba96bf847f0!2sPlainfield%2C%20IN%2C%20USA!5e0!3m2!1sen!2sbd!4v1586106673811!5m2!1sen!2sbd"
        height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <div class="map-inside">
        <i class="icon_pin"></i>
        <div class="inside-widget">
            <h4>New York</h4>
            <ul>
                <li>Phone: +12-345-6789</li>
                <li>Add: 16 Creek Ave. Farmingdale, NY</li>
            </ul>
        </div>
    </div>
</div>
<!-- Map End -->

<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>Contact Us</h2>
                </div>
            </div>
        </div>
        <form id="contact-form" autocomplete="off">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <input type="text" name="name" id="name-input" placeholder="Your name" required>
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="email" name="email" id="email-input" placeholder="Your Email" required>
                </div>
                <div class="col-lg-12 col-md-12">
                    <input type="text" name="subject" id="subject-input" placeholder="Subject" required>
                </div>
                <div class="col-lg-12 text-center">
                    <textarea name="message" id="message-input" placeholder="Message" required></textarea>
                    <div id="email-spinner-box" class="spinner-border text-danger not-visible">
                        <div class="sr-only" role="status"></div>
                    </div>
                    <button type="submit" class="site-btn" id="send-email-btn">SEND MESSAGE</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Contact Page End -->
{% endblock content %}

{% block extend_footer %}

{% endblock extend_footer %}