{% extends './account_base.html' %}

{% load account socialaccount %}
{% load static %}
{% load i18n %}

{% block title %}Password Reset{% endblock title %}

<!-- Login Page Begin -->
{% block accounts %}
<div class="container user__content">
    <div class="signup_wrapper">
        <div class="form-container">
            <div class="header-text">Password Reset</div>
            <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
            <form class="signup_form" method="POST" action="{% url 'account_reset_password' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {{ field }}
                {% endfor %}
                <button type="submit" class="site-btn">Reset My Password</button>
            </form>
            <p>Please contact us if you have any trouble resetting your password.</p>
        </div>
    </div>
</div>
{% endblock accounts %}
<!-- Login Page End -->