{% extends './account_base.html' %}

{% load account socialaccount %}
{% load static %}
{% load i18n %}

{% block title %}Password Reset{% endblock title %}

<!-- Login Page Begin -->
{% block accounts %}
<div class="container user__content">
    <div class="signup_wrapper">
        <div class="form-container">
            <div class="header-text">{% if token_fail %}Bad Token{% else %}New Password{% endif %}</div>
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>The password reset link was invalid, possibly because it has already been used. Please request a
                     <a href="{{ passwd_reset_url }}"> <u>new password reset</u> </a>.
                </p>
            {% else %}    
                {% if form %}
                    <form class="signup_form" method="POST" action="{{ action_url }}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                        {{ field }}
                        {% endfor %}
                        <button type="submit" class="site-btn">Change Password</button>
                    </form>
                {% else %}
                    <p>Your password is now changed.</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock accounts %}
<!-- Login Page End -->

