{% extends './account_base.html' %}

{% load account socialaccount %}
{% load static %}
{% load i18n %}

{% block title %}Sign In{% endblock title %}

<!-- Login Page Begin -->
{% block accounts %}
<div class="container my-4 user__content  mt-5">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading mb-2">Information !</h4>
        <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
        <a href="{% url 'account_login' %}">OK</a>
    </div>
</div>
{% endblock accounts %}
<!-- Login Page End -->